<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
<!--  checkbox 多选框-->
  <label for="license">
    <input type="checkbox" id="license" v-model="isAgree">同意协议
  </label>
  <h2>选择的是：{{isAgree}}</h2>
  <button :disabled="!isAgree">下一步</button>

  <br>
  <br>
<!-- checkbox 多选框 数组类型-->

  <input type="checkbox" value="篮球" v-model="hobbies">🏀
  <input type="checkbox" value="足球" v-model="hobbies">⚽️
  <input type="checkbox" value="乒乓球" v-model="hobbies">🏓️
  <input type="checkbox" value="羽毛球" v-model="hobbies">🏸️
  <h2>爱好是：{{hobbies}}</h2>

  <br>
  <br>
<!--  值绑定-->
  <label v-for="item in originHobbies" :for="item">
    <input type="checkbox" :value="item" :id="item" v-model="hobbies">{{item}}
  </label>

</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: 'Hello,Vue',
      isAgree: false,  // 单选框
      hobbies: [],   // 多选框
      originHobbies: ['篮球', '足球', '乒乓球', '羽毛球', '台球', '高尔夫球', '橄榄球', '保龄球']
    }
  })
</script>

</body>
</html>